# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable Buildbox Status': 'buildbox-status:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Buildbox'
      'submenu': [
        { 'label': 'Toggle', 'command': 'buildbox-status:toggle' },
        { 'label': 'Refresh', 'command': 'buildbox-status:refresh' },
      ]
    ]
  }
]
